.magnifying_glass {
	width: 1em;
	height: 1em;
	border: .1em solid #000000;
	border-radius: 50%;
}
.magnifying_glass:after{
	display: block;
	content: '';
	width: .6em;
	border: .1em solid #000000;
	transform-origin: left;
	-webkit-transform: translate(1em,.7em) rotate(28deg) ;
	transform: translate(1em,.7em) rotate(28deg);
}
