.container>div{
	width: 20px;
	height: 20px;
	margin: 20px;
}
.magnifying_glass {
	width: 1em;
	height: 1em;
	border: .1em solid #000000;
	border-radius: 50%;
}
.magnifying_glass:after{
	display: block;
	content: '';
	width: .6em;
	border: .1em solid #000000;
	transform-origin: left;
	-webkit-transform: translate(.9em,.8em) rotate(41deg);
	-moz-transform: translate(.9em,.8em) rotate(41deg);
	-o-transform: translate(.9em,.8em) rotate(41deg);
	-ms-transform: translate(.9em,.8em) rotate(41deg);
	transform: translate(.9em,.8em) rotate(41deg);
}
.checkbox {
	position: relative;
	width: 14px;
    height: 14px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}
.checkbox:after{
    position: absolute;
    width: 6px;
    height: 12px;
    border-style:solid;
    border-width: 0 2px 2px 0;
    border-color: #2b6ab8;
    -moz-transform: translate(30%,-30%) rotateZ(26deg);
	-o-transform: translate(30%,-30%) rotateZ(26deg);
	-ms-transform: translate(30%,-30%) rotateZ(26deg);
    -webkit-transform: translate(30%,-30%) rotateZ(26deg);
    transform: translate(30%,-30%) rotateZ(26deg);
    content:'';
}
.close{
	position: relative;
}
.close:before,.close:after{
	position: absolute;
	content: '';
	width: 14px;
	height: 0;
	border:1px solid #000;
}
.close:before { 
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	transform: rotate(45deg);
}
.close:after { 
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.arrow {
	position: relative;
}
.arrow:before, .arrow:after {
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
}
.arrow-down:before { margin-left: 3px; }
.arrow-down:after {
	width: 14px;
    height: 14px;
}
.arrow-down:before, .arrow-down:after { 
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.arrow-up:before, .arrow-up:after { 
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.arrow-up:before { 
	width: 14px;
    height: 14px;
}
.arrow-up:after { 
	margin-top: 8px;
	margin-left: 3px;
	}
